*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main{
    background-color:#111116;
  }
  .navbar{
    width: 100%;
    height: 14%;
    background-color: #18181D;
  }
  .dropdown-item:hover{
    background-color: #CA8E46;
    color: rgb(184, 114, 114) !important;
    }
    .nav-link:hover{
      color: #CA8E46 !important;
    }

.para{
  color: #CA8E46 !important; 
}
    

